.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chakra-ui-dark{
  background: white
}


#searchQuerySubmit:hover {
  cursor: pointer;
}



.div-right{
  position:relative;
  background:	#0096FF;  
  width:200px;
  padding:10px; 
  border-radius:5px;
 }
 .div-right:before{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: transparent transparent transparent #0096FF ;
  right:-20px;
  top:10px;
 }
  

 .div-left{
  position:relative;
  background:#F5B041 ;  
  width:200px;
  padding:10px; 
  border-radius:5px;
  margin:10px;
 }
 .div-left:before{
  content:"";
  position:absolute;
  width:0px;
  height:0px;
  border: 10px solid;
  border-color: transparent #F5B041 transparent transparent;
  left:-20px;
  top:10px;
 }